<mat-card class="mt-4 ">
    <mat-action-list>
        <button mat-list-item routerLink="/admin-dash"> <mat-icon matListItemIcon class="text-dark">home</mat-icon>
            Home</button>
        <button mat-list-item routerLink="/admin-dash/profile"> <mat-icon matListItemIcon
                class="text-dark">account_circle</mat-icon> Profile</button>
        <button mat-list-item routerLink="/admin-dash/all-cate"> <mat-icon matListItemIcon
                class="text-dark">category</mat-icon> Category</button>
        <button mat-list-item routerLink="/admin-dash/add-category"> <mat-icon matListItemIcon
                class="text-dark">add_circle_outline</mat-icon> Add
            category</button>
        <button mat-list-item routerLink="/admin-dash/all-quiz"> <mat-icon matListItemIcon
                class="text-dark">Quizzes</mat-icon>Quizzes</button>
        <button mat-list-item routerLink="/admin-dash/Add-quiz"> <mat-icon matListItemIcon class="text-dark">Add
                </mat-icon>Add Quizzes</button>
        <button mat-list-item (click)="logout()"> <mat-icon matListItemIcon class="text-dark">logout</mat-icon>Logout </button>
    </mat-action-list>
</mat-card>