<div class="container-fluid " *ngIf="!isSubmit">
    <div class="row">
        <div class="col-md-2">
            <mat-card class="mt-5">
                <mat-card-title>
                    <h1 class="text-center">Introduction</h1>
                </mat-card-title>
                <mat-card-content>
                    <ul>
                        <li>Do not refresh the page otherwise You get new question</li>
                        <hr>
                        <li>Do not switch the tabs</li>
                        <hr>
                        <li>Do not minimize the window</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-8">
            <div class="container">
                <h1>{{question[0].quiz.title}}</h1>
            </div>
            
            <mat-card *ngFor="let questions of question ,let i=index" class="mt-2">
                <mat-card-content>

                    <h3><b>Q.{{i+1}})</b><span [(ngModel)]="questions.content">{{questions.content}}</span></h3>

                    <mat-divider></mat-divider>
                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="radio" [name]="questions.option1" [value]="questions.option1"
                                [(ngModel)]="questions.givenAnswer">
                            {{questions.option1}}
                        </div>
                        <div class="col-md-6">
                            <input type="radio" [name]="questions.option2" [value]="questions.option2"
                                [(ngModel)]="questions.givenAnswer">
                            {{questions.option2}}
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-md-6">
                            <input type="radio" [name]="questions.option3" [value]="questions.option3"
                                [(ngModel)]="questions.givenAnswer">
                            {{questions.option3}}
                        </div> 
                        <div class="col-md-6">
                            <input type="radio" [name]="questions.option4" [value]="questions.option4"
                                [(ngModel)]="questions.givenAnswer">
                            {{questions.option4}}
                        </div>
                    </div>

                </mat-card-content>
            </mat-card>

            <div class="container mt-3 text-center">
                <button class="btn btn-primary" (click)="submit()">End Exam</button>
            </div>
        </div>


        <div class="col-md-2 mt-5">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>Progress</mat-card-title>
                    <mat-card-subtitle>Quiz all Automatically close after end the time</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <h2>{{getFormateTime()}}</h2>
                        <mat-spinner mode="determinate" [value]="(timer/(question.length*0.30*100))*100"></mat-spinner>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="contaner mt-5" *ngIf="isSubmit" > 
    <div class="row justify-content-center">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>
                    <h1 class="text-center">Result</h1>
                </mat-card-title>

                <mat-card-content>
                    <h3>Attempt Question:{{attempted}}</h3>
                    <h3>Corrext Answer:{{correctAnswers}}</h3>
                    <h3>Got Marks:{{marksGot}}</h3>
                </mat-card-content>

                <mat-card-actions>
                    <button class="btn btn-primary mx-2" (click)="printResult()">Print</button>
                    <button class="btn btn-primary" [routerLink]="['/user-dash/0']">Home</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>