<h1 class="text-center">Add New Question</h1>
<mat-card class="mt-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form class="row mt-4" [formGroup]="addQuestionForm" (submit)="addQuestionsData()">
                    <mat-form-field appearance="outline">
                        <mat-label>Enter Question</mat-label>
                        <input matInput type="text" placeholder="Enter Question" formControlName="content"
                            name="content">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>Option A:</mat-label>
                        <input matInput type="text" placeholder="Enter Question A" formControlName="option1"
                            name="option1" [(ngModel)]="addQuestions.option1">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>Option B:</mat-label>
                        <input matInput type="text" placeholder="Enter Question B" formControlName="option2"
                            name="option2" [(ngModel)]="addQuestions.option2">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>Option C:</mat-label>
                        <input matInput type="text" placeholder="Enter Question C" formControlName="option3"
                            name="option3" [(ngModel)]="addQuestions.option3">
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="col-md-6">
                        <mat-label>Option D:</mat-label>
                        <input matInput type="text" placeholder="Enter Question D" formControlName="option4"
                            name="option4 " [(ngModel)]="addQuestions.option4">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Option</mat-label>
                        <mat-select formControlName="answer" name="answer">
                            <mat-option *ngIf="addQuestions.option1"
                                [value]="addQuestions.option1">{{addQuestions.option1}}</mat-option>
                            <mat-option *ngIf="addQuestions.option2"
                                [value]="addQuestions.option2">{{addQuestions.option2}}</mat-option>
                            <mat-option *ngIf="addQuestions.option3"
                                [value]="addQuestions.option3">{{addQuestions.option3}}</mat-option>
                            <mat-option *ngIf="addQuestions.option4"
                                [value]="addQuestions.option4">{{addQuestions.option4}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="text-center mb-3">
                        <button class="btn btn-primary">Add Question</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</mat-card>